# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next
out

# Production
build
dist

# Misc
.DS_Store
*.pem

# Debug
.vscode
.idea

# Local env files
.env*.local
.env

# Git
.git
.gitignore

# Testing
coverage
.nyc_output

# Vercel
.vercel
